@import url('https://fonts.gogleapis.com/css?family=Raleway');
@import url('https://fonts.gogleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(https://images.pexels.com/photos/1769331/pexels-photo-1769331.jpeg)
}
